body {
  overflow: visible;
  background-image: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.image-2 {
  margin-top: 0px;
  padding-top: 0px;
  border: 4px solid #000;
}

.body {
  overflow: visible;
  border: 4px solid #000;
  background-color: #ed143c;
  background-image: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.team-grid {
  display: block;
  margin-top: 50px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.team-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -41px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.team-member-image {
  width: 270px;
  height: 270px;
  margin-bottom: 24px;
  border: 4px solid #000;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-member-name {
  margin-bottom: 6px;
  color: #000;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  display: block;
  margin-top: -19px;
  color: #000;
  font-size: 25px;
  text-decoration: none;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-dark-2 {
  position: relative;
  padding: 50px 30px 15px;
  border-style: solid none none;
  border-width: 4px;
  border-color: #000;
  background-color: #ffde59;
}

.footer-copyright-center-2 {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.team-slider-2 {
  position: relative;
  margin-top: -16px;
  margin-bottom: 57px;
  padding: 122px 30px 80px;
  border: 4px solid #000;
  background-color: #ffde59;
}

.container-7 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.team-slider-wrapper-2 {
  height: auto;
  margin-top: 0px;
  background-color: transparent;
}

.team-slide-wrapper-2 {
  width: 30%;
  margin-right: 5%;
}

.team-block-2 {
  padding-bottom: 24px;
  background-color: #ffde59;
}

.team-member-image-two-2 {
  margin-bottom: 18px;
  border: 4px solid #000;
  border-radius: 20px;
}

.team-block-info-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team-member-name-two-2 {
  margin-bottom: 12px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000;
  font-weight: 600;
}

.team-slider-arrow-2 {
  display: none;
}

.team-slider-nav-2 {
  position: static;
  bottom: -60px;
  margin-top: 24px;
  font-size: 10px;
}

.image-11 {
  margin-top: -79px;
  margin-bottom: -108px;
  margin-left: 137px;
}

.hero-stack {
  position: relative;
  padding: 80px 30px;
  border: 1px solid #ed143c;
  background-color: rgba(237, 20, 60, 0);
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.island-image {
  position: relative;
  display: block;
  width: 400px;
  margin-top: -19px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.background-video {
  display: block;
  width: 100%;
  height: 400px;
  margin-top: 168px;
  border-style: solid none none;
  border-width: 4px 1px;
  border-color: #000;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  margin-bottom: -76px;
  margin-left: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.image-18 {
  margin-top: -187px;
  margin-left: -19px;
}

.link-block-6 {
  text-decoration: none;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 83px;
  padding-top: 65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
}

.link-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.podcast-section {
  overflow: hidden;
  width: 100%;
  height: 400px;
  max-width: 100%;
  border-style: solid none none;
  border-width: 4px;
  border-color: #000;
  background-color: #641479;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  width: 1000px;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 600px;
  height: 300px;
  margin-left: 178px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 300px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none solid solid;
  border-width: 4px;
  border-color: #000;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px none #000;
}

.div-block-4 {
  overflow: hidden;
  width: 100px;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  margin-top: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.video {
  margin-top: 100px;
  border: 2px solid #000;
}

.section {
  margin-right: 100px;
  margin-left: 100px;
}

@media screen and (min-width: 1440px) {
  .image-2 {
    padding-top: 0px;
    padding-bottom: 0px;
    border-width: 4px;
  }

  .body {
    overflow: visible;
    margin-top: 0px;
    padding-bottom: 0px;
    background-color: #ed143c;
    background-image: none;
  }

  .container-4 {
    overflow: hidden;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
    border: 4px solid #000;
  }

  .team-member-name {
    font-size: 30px;
    font-weight: 700;
  }

  .link {
    margin-top: -23px;
    color: #000;
    font-size: 25px;
    text-decoration: none;
  }

  .team-slider-2 {
    margin-top: -105px;
  }

  .container-7 {
    overflow: hidden;
  }

  .team-block-2 {
    background-color: #ffde59;
  }

  .team-member-image-two-2 {
    border: 4px solid #000;
    border-radius: 20px;
  }

  .team-member-name-two-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #000;
  }

  .image-11 {
    overflow: hidden;
    margin-top: -108px;
    margin-bottom: -140px;
    margin-left: -83px;
  }

  .hero-stack {
    overflow: hidden;
    border: 1px solid #ed143c;
    background-color: #ed143c;
  }

  .island-image {
    width: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .background-video {
    height: 300px;
  }

  .image-18 {
    margin-top: -124px;
    margin-left: -51px;
  }

  .link-block-6 {
    text-decoration: none;
  }

  .paragraph {
    margin-bottom: 89px;
  }

  .link-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
  }

  .section {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .image-2 {
    display: block;
    overflow: visible;
    padding-bottom: 0px;
    border-width: 4px;
  }

  .body {
    display: block;
    overflow: visible;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #ed143c;
    outline-color: #000;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
  }

  .container-4 {
    display: block;
    margin-top: 25px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    color: #000;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .team-grid {
    overflow: hidden;
  }

  .team-card {
    display: block;
    overflow: hidden;
    margin-top: 25px;
  }

  .team-member-image {
    overflow: hidden;
    border: 4px solid #000;
  }

  .team-member-name {
    overflow: hidden;
    font-size: 35px;
    font-weight: 700;
  }

  .link {
    font-size: 30px;
    text-decoration: none;
  }

  .footer-dark-2 {
    background-color: #ffde59;
  }

  .team-slider-2 {
    margin-top: -3px;
    margin-bottom: 0px;
    padding: 117px 0px 24px;
    background-color: #ffde59;
  }

  .team-slider-wrapper-2 {
    margin-top: 200px;
    margin-bottom: 92px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .team-block-2 {
    background-color: #ffde59;
  }

  .team-member-image-two-2 {
    border: 4px solid #000;
    border-radius: 20px;
  }

  .team-block-info-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .team-member-name-two-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
  }

  .team-slider-nav-2 {
    margin-top: 57px;
  }

  .image-11 {
    display: block;
    overflow: hidden;
    margin: -250px 0px -89px -48px;
  }

  .mask {
    margin-top: -121px;
  }

  .hero-stack {
    margin-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #ed143c;
    background-color: rgba(237, 20, 60, 0.03);
  }

  .island-image {
    overflow: hidden;
    width: 13%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .link-block {
    overflow: hidden;
  }

  .link-block-2 {
    overflow: hidden;
  }

  .link-block-3 {
    overflow: hidden;
  }

  .link-block-4 {
    overflow: hidden;
  }

  .background-video {
    height: 250px;
    margin-top: -3px;
  }

  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    margin-left: 430px;
    text-align: center;
    text-decoration: none;
  }

  .image-18 {
    margin-top: -450px;
    margin-left: 1650px;
  }

  .link-block-6 {
    text-decoration: none;
  }

  .paragraph {
    margin-bottom: 41px;
    font-size: 50px;
  }

  .link-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
  }

  .video {
    margin-bottom: 114px;
  }

  .section {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .body {
    overflow: visible;
    background-color: #ed143c;
  }

  .container-4 {
    max-width: 728px;
  }

  .team-grid {
    grid-column-gap: 40px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
  }

  .link {
    display: block;
    margin-top: -19px;
  }

  .container-6 {
    max-width: 728px;
  }

  .footer-dark-2 {
    overflow: hidden;
    margin-top: 162px;
    background-color: #ffde59;
  }

  .team-slider-2 {
    margin-top: -32px;
    padding-top: 114px;
  }

  .container-7 {
    max-width: 728px;
  }

  .team-slider-wrapper-2 {
    margin-top: 31px;
  }

  .team-slide-wrapper-2 {
    width: 47%;
    margin-right: 6%;
  }

  .team-member-name-two-2 {
    color: #000;
  }

  .image-11 {
    margin-top: -89px;
    margin-bottom: -165px;
    margin-left: 0px;
  }

  .hero-stack {
    background-color: rgba(237, 20, 60, 0);
  }

  .container {
    max-width: 728px;
  }

  .island-image {
    display: block;
    width: 25%;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .background-video {
    height: 200px;
    margin-top: 51px;
    margin-bottom: -165px;
  }

  .heading {
    margin-left: 290px;
  }

  .image-18 {
    margin-top: -200px;
  }

  .podcast-section {
    margin-bottom: -25px;
  }

  .video {
    margin-top: 32px;
    border-top: 4px solid #000;
  }
}

@media screen and (max-width: 767px) {
  .body {
    overflow: visible;
    background-color: #ed143c;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .link {
    display: block;
    margin-top: -20px;
  }

  .footer-dark-2 {
    margin-top: 165px;
    padding-right: 15px;
    padding-left: 15px;
    border: 5px solid #000;
    background-color: #ffde59;
  }

  .team-slider-2 {
    margin-top: -6px;
    margin-bottom: 48px;
    padding: 0px 15px 122px;
    background-color: #ffde59;
  }

  .team-slider-wrapper-2 {
    margin-top: 89px;
  }

  .team-block-2 {
    background-color: rgba(255, 222, 89, 0);
  }

  .team-member-name-two-2 {
    color: #000;
    font-size: 22px;
  }

  .team-slider-nav-2 {
    margin-top: 31px;
  }

  .image-11 {
    margin-top: -44px;
    margin-bottom: -184px;
    margin-left: -3px;
  }

  .mask {
    margin-top: -32px;
  }

  .hero-stack {
    padding: 60px 15px;
    background-color: rgba(237, 20, 60, 0);
  }

  .island-image {
    width: 25%;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .background-video {
    height: 150px;
    margin-top: 44px;
    margin-left: 0px;
    padding-left: 0px;
    mix-blend-mode: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading {
    margin-left: 220px;
    text-align: center;
  }

  .image-18 {
    margin-top: -102px;
    margin-left: -16px;
  }

  .div-block-7 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .video {
    margin-top: 10px;
    background-color: transparent;
  }

  .section {
    background-color: rgba(28, 225, 6, 0);
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    overflow: visible;
    margin-top: -3px;
    margin-right: 0px;
    border-width: 2px;
  }

  .body {
    overflow: visible;
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 0px;
    border: 3px none #000;
    background-color: #ed143c;
  }

  .container-4 {
    display: inline-block;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #ed143c;
  }

  .team-grid {
    overflow: hidden;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: #ed143c;
  }

  .team-member-image {
    overflow: hidden;
  }

  .team-member-name {
    overflow: hidden;
    margin-bottom: -13px;
    font-size: 20px;
  }

  .link {
    display: block;
    overflow: hidden;
    height: 100%;
    margin-top: -25px;
    margin-left: 0px;
    font-size: 20px;
  }

  .container-6 {
    max-width: none;
  }

  .footer-dark-2 {
    top: 0px;
    margin-top: -6px;
    padding-top: 60px;
    padding-bottom: 20px;
    border-width: 4px;
    background-color: #ffde59;
  }

  .footer-copyright-center-2 {
    font-size: 10px;
  }

  .team-slider-2 {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 179px;
    border-width: 3px;
  }

  .container-7 {
    overflow: hidden;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
  }

  .team-slider-wrapper-2 {
    overflow: hidden;
    margin-top: -6px;
  }

  .team-slide-wrapper-2 {
    overflow: hidden;
    width: 100%;
    margin-right: 0%;
  }

  .team-block-2 {
    overflow: hidden;
    color: #000;
  }

  .team-member-image-two-2 {
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 10px;
    border-width: 4px;
  }

  .team-block-info-2 {
    overflow: hidden;
  }

  .team-member-name-two-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .team-slider-arrow-2 {
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
  }

  .team-slider-nav-2 {
    overflow: hidden;
  }

  .image-11 {
    overflow: hidden;
    margin-top: -41px;
    margin-bottom: -181px;
    margin-left: -6px;
  }

  .hero-stack {
    overflow: hidden;
    margin-top: -16px;
    padding-top: 65px;
    padding-bottom: 19px;
    border-style: solid;
    border-width: 1px;
    border-color: #ed143c;
    background-color: rgba(237, 20, 60, 0);
    outline-color: #ffde59;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    color: #ed143c;
  }

  .container {
    overflow: hidden;
    max-width: none;
  }

  .island-image {
    overflow: hidden;
    width: 50%;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .link-block-4 {
    overflow: hidden;
  }

  .background-video {
    left: 0px;
    right: 0px;
    display: block;
    overflow: hidden;
    height: 200px;
    margin: -3px 0px;
    padding-left: 0px;
  }

  .link-block-5 {
    overflow: hidden;
  }

  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .container-8 {
    overflow: hidden;
  }

  .image-18 {
    margin-top: -76px;
    margin-bottom: -240px;
  }

  .paragraph {
    margin-bottom: 76px;
    text-decoration: none;
  }

  .link-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
    text-decoration: none;
  }

  .div-block-7 {
    margin-right: 20px;
  }

  .video {
    margin-top: 0px;
    margin-bottom: 35px;
  }

  .section {
    margin-right: 20px;
    margin-left: 20px;
  }
}

#w-node-_215aadfa-e9ed-d2ca-d86a-1157a9fe9401-14660af5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_215aadfa-e9ed-d2ca-d86a-1157a9fe940c-14660af5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-_215aadfa-e9ed-d2ca-d86a-1157a9fe940c-14660af5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Fontsfree net dreaming';
  src: url('../fonts/FontsFree-Net-Dreaming.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}