.f-n-h-h-spaces-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.f-n-h-h-spaces-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.f-n-h-h-spaces-container01 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-n-h-h-spaces-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container02 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container02:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card01 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image01 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-link {
  display: contents;
}
.f-n-h-h-spaces-container03 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.f-n-h-h-spaces-container03:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image02 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-link1 {
  display: contents;
}
.f-n-h-h-spaces-container04 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.f-n-h-h-spaces-container04:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card03 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image03 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-link2 {
  display: contents;
}
.f-n-h-h-spaces-container05 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.f-n-h-h-spaces-container05:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card04 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image04 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-link3 {
  display: contents;
}
.f-n-h-h-spaces-container06 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.f-n-h-h-spaces-container06:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card05 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image05 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container07 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container07:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card06 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image06 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container08 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container08:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card07 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image07 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container09 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container09:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card08 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image08 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container10 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container10:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card09 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image09 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container11 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container11:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-link4 {
  display: contents;
}
.f-n-h-h-spaces-image10 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.f-n-h-h-spaces-container12 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container12:hover {
  opacity: 1;
}
.f-n-h-h-spaces-gallery-card11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-image11 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.f-n-h-h-spaces-container13 {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  border-color: #CE8F68;
  border-style: ridge;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
}
.f-n-h-h-spaces-container13:hover {
  opacity: 1;
}
@media(max-width: 1600px) {
  .f-n-h-h-spaces-container02 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container03 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container04 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container05 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container06 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container07 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container08 {
    border-color: #CE8F68;
    border-style: ridge;
  }
  .f-n-h-h-spaces-container09 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container10 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container11 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container12 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container13 {
    border-color: #CE8F68;
  }
}
@media(max-width: 1200px) {
  .f-n-h-h-spaces-gallery-card {
    opacity: 1;
  }
  .f-n-h-h-spaces-image {
    opacity: 1;
  }
  .f-n-h-h-spaces-container02 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-gallery-card01 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image01 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container03 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-gallery-card02 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image02 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container04 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card03 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image03 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container05 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-gallery-card04 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image04 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container06 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card05 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image05 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container07 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card06 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image06 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container08 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card07 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image07 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container09 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card08 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image08 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container10 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card09 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image09 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container11 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card10 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image10 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container12 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-gallery-card11 {
    opacity: 1;
  }
  .f-n-h-h-spaces-image11 {
    opacity: 1;
  }
  .f-n-h-h-spaces-container13 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
}
@media(max-width: 991px) {
  .f-n-h-h-spaces-container01 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .f-n-h-h-spaces-container02 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
    background-size: cover;
    background-image: f0ff4887-b93d-4f09-8bd0-c44cfbfabfe6;
  }
  .f-n-h-h-spaces-container03 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container04 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container05 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container06 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container07 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container08 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container09 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container10 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container11 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container12 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container13 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
}
@media(max-width: 767px) {
  .f-n-h-h-spaces-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .f-n-h-h-spaces-container01 {
    margin-top: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .f-n-h-h-spaces-container02 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container03 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container04 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container05 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container06 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container07 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container08 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container09 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container10 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container11 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container12 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container13 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
}
@media(max-width: 479px) {
  .f-n-h-h-spaces-gallery {
    padding: var(--dl-space-space-unit);
  }
  .f-n-h-h-spaces-container01 {
    grid-template-columns: 1fr;
  }
  .f-n-h-h-spaces-container02 {
    border-color: #CE8F68;
    border-style: ridge;
  }
  .f-n-h-h-spaces-container03 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container04 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container05 {
    border-color: #CE8F68;
  }
  .f-n-h-h-spaces-container06 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container07 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container08 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container09 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container10 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container11 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container12 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
  .f-n-h-h-spaces-container13 {
    border-color: #CE8F68;
    border-style: ridge;
    border-width: 5px;
  }
}
