.nftverzeth-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.nftverzeth-image {
  width: 1000px;
  height: auto;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-sixunits);
}
.nftverzeth-navlink {
  display: contents;
}
.nftverzeth-image1 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  padding-top: var(--dl-space-space-sixunits);
  text-decoration: none;
}
.nftverzeth-link {
  display: contents;
}
.nftverzeth-image2 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  text-decoration: none;
}
.nftverzeth-link1 {
  display: contents;
}
.nftverzeth-image3 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  text-decoration: none;
}
.nftverzeth-link2 {
  display: contents;
}
.nftverzeth-image4 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  text-decoration: none;
}
.nftverzeth-link3 {
  display: contents;
}
.nftverzeth-image5 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  text-decoration: none;
}
.nftverzeth-link4 {
  display: contents;
}
.nftverzeth-image6 {
  width: 500px;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-sixunits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .nftverzeth-container {
    background-color: var(--dl-color-gray-black);
  }
  .nftverzeth-image {
    width: 750px;
  }
  .nftverzeth-image1 {
    width: 500px;
    padding-top: var(--dl-space-space-twounits);
  }
  .nftverzeth-image2 {
    width: 500px;
  }
  .nftverzeth-image3 {
    width: 500px;
  }
  .nftverzeth-image4 {
    width: 500px;
  }
  .nftverzeth-image5 {
    width: 500px;
  }
  .nftverzeth-image6 {
    width: 500px;
    margin-bottom: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .nftverzeth-image {
    width: 650px;
    padding-top: var(--dl-space-space-fourunits);
  }
  .nftverzeth-image2 {
    padding-top: 0px;
  }
}
@media(max-width: 479px) {
  .nftverzeth-image {
    width: 400px;
    padding-top: 125px;
  }
  .nftverzeth-image1 {
    width: 400px;
    margin-top: 180px;
    padding-top: var(--dl-space-space-sixunits);
  }
  .nftverzeth-image2 {
    width: 400px;
  }
  .nftverzeth-image3 {
    width: 400px;
    margin-top: var(--dl-space-space-fourunits);
  }
  .nftverzeth-image4 {
    width: 400px;
    margin-top: var(--dl-space-space-fourunits);
  }
  .nftverzeth-image5 {
    width: 400px;
    margin-top: var(--dl-space-space-fourunits);
  }
  .nftverzeth-image6 {
    width: 400px;
    margin-top: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
}
